name: DocFX

on:
  release:
    types:
      - released
  workflow_dispatch:

jobs:
  generate-docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: actions/configure-pages@v5

    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - run: dotnet tool update -g docfx

    - run: docfx docs/docfx.json
      continue-on-error: false
      
    - uses: actions/upload-pages-artifact@v4
      with:
        path: ${{ github.workspace }}/docs/_site

  deploy:

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: generate-docs

    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
